body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.cof {
  right: 200px;
  position: relative;
}

h1 {
  font-size: 5rem;
  margin-top: 50px;
  font-family: 'Georgia', cursive;
}

h2 {
  font-size: 2rem;
  font-family: 'Georgia', sans-serif;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Georgia', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #FAF0E6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #A9A9A9;
  font-family: Georgia;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: black;
}

.profilee {
  margin-top: 50px;
  height: 200px;
}

.top-container {
  background-color: white;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.leaf {
  width: 25%;
  float: left;
  margin-left: 50px;
}

.photo {
  width: 25%;
  float: right;
}

.intro {
  width: 30%;
  margin: auto;
}

.btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #000000;
  font-family: Georgia;
  padding: 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #FAF0E6;
  -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
  -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
  box-shadow: 1px 1px 20px 0 #FFFFFF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: 40px;
}

.btn:hover {
  background: #000000;
  border: solid #FFFFFF 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.bottom-container {
  padding: 50px 0 20px;
  background-color: #FAF0E6;
}

.copyright {
  font-size: 0.75em;
  padding: 20px 0;
}
